<div class="message">
	<div><%= comment.user.name %> <%= link_to comment.message, article_comment_path(comment.article_id, comment.id) %> </div>
  <div class="content">
    <%= distance_of_time_in_words_to_now(comment.created_at) %>
  </div>
</div>